header {
  background-color: #fff;
  border-bottom: 2px solid #f3f3f3;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 88%;
  margin: auto;
}

.navContainer {
  height: 6.25rem;
}

.navlinks {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  text-decoration: none;
  font-size: 13px;
  flex-grow: 1;
  gap: 2.563rem;
}

.title {
  font-size: 35px;
  color: dodgerblue;
  text-decoration: none !important;
}

.listitems {
  color: darkslategray;
  text-decoration: none;
  float: left;
  line-height: 15px;
}

.listitems:hover { -webkit-transform: scale(1.2); }

.oval {
  width: 2.813rem;
  height: 2.813rem;
  float: right;
  border: solid 1px gray;
  border-radius: 40px;
  background-color: white;
  text-align: center;
  display: flex;
  justify-content: center;
}

.user {
  width: 24px;
  margin: auto;
  display: block;
}

@media only screen and (max-width: 1100px) {
  header nav {
    width: 94%;
  }
}
