.listItems {
  height: 10rem;
  background-color: white;
  border-radius: 2px;
  border:1px solid #F3F3F3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  list-style-type: none;
  margin: 20px;
}